/*corpo completo pagina*/

body{
    background-color: #efb79e;
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: #3e7f8d;

}
.logo{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    font-family: Curely, sans-serif;
    font-size: 30px;
}
.menu a{
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 15px 15px 15px;
    color: whitesmoke;
    text-decoration: none;
}
.menu a:hover{
    background-color: #f5dbd7;
    color: #1e7387;
}
.social{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.fb:hover{
    opacity: 0.7;
}
.ins:hover{
    opacity: 0.7;
}
/* VAMOS TRATAR DO MENU*/

/*BARRA DE PESQUISA*/
.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.pesquisa input[type=text]{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 20px;
    border-radius: 20px;
    border: solid #efb79e 3px;
    color: whitesmoke
}
.pesquisa::placeholder{
    color: rgb(181, 181, 181)
}

.pesquisa input[type=submit]{
    border-radius: 20px;
    background-color: #3e7f8d;
    color: whitesmoke;
    border: #3e7f8d 3px solid;
    
    background-image: url("../icons/icons8-search-50.png");
    background-size: 25px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

@import url('https://fonts.cdnfonts.com/css/curely');